<template>
  <sample></sample>
</template>

<script>
import Sample from "@/components/SampleDemo.vue";

export default {
  name: "Sample",
  layout: "App",
  components: {
    sample: Sample
  }
};
</script>

<style scoped></style>
