<template>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="card">
        <h1>Upload</h1>

        <FileUpload
          name="demo[]"
          url="./upload.php"
          :multiple="true"
          accept="image/*"
          :max-file-size="1000000"
          @upload="onUpload"
        />
      </div>
    </div>

    <div class="p-col-12">
      <div class="card">
        <h1>ProgressBar</h1>
        <ProgressBar :value="value" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      value: 0
    }
  },
  interval: null,
  mounted() {
    this.startProgress()
  },
  beforeDestroy() {
    this.endProgress()
  },
  methods: {
    startProgress() {
      this.interval = setInterval(() => {
        let newValue = this.value + Math.floor(Math.random() * 10) + 1
        if (newValue >= 100) {
          newValue = 100
        }
        this.value = newValue
      }, 2000)
    },
    endProgress() {
      clearInterval(this.interval)
      this.interval = null
    },
    onUpload() {
      this.$toast.add({
        severity: 'info',
        summary: 'Success',
        detail: 'File Uploaded',
        life: 3000
      })
    }
  }
}
</script>

<style scoped></style>
