<template>
  <ul v-if="items">
    <template v-for="(item, i) of items">
      <li
        :key="i"
        :class="[{ 'active-menuitem': activeIndex === i && !item.to }]"
      >
        <div v-if="item.items && root === true" class="arrow"></div>
        <nuxt-link
          v-if="item.to"
          :to="item.to"
          :class="[{ 'active-route': activeIndex === i }]"
          :target="item.target"
          exact
          @click.native="onMenuItemClick($event, item, i)"
        >
          <i :class="item.icon"></i>
          <span>{{ item.label }}</span>
          <i
            v-if="item.items"
            class="pi pi-fw pi-angle-down menuitem-toggle-icon"
          ></i>
          <span v-if="item.badge" class="menuitem-badge">{{ item.badge }}</span>
        </nuxt-link>
        <a
          v-if="!item.to"
          :href="item.url"
          target="item.target"
          @click="onMenuItemClick($event, item, i)"
        >
          <i :class="item.icon"></i>
          <span>{{ item.label }}</span>
          <i
            v-if="item.items"
            class="pi pi-fw pi-angle-down menuitem-toggle-icon"
          ></i>
          <span v-if="item.badge" class="menuitem-badge">{{ item.badge }}</span>
        </a>
        <transition name="layout-submenu-wrapper">
          <AppSubmenu
            v-show="activeIndex === i"
            :items="item.items"
            @menuitem-click="
              $emit('menuitem-click', { originalEvent: $event, item: item })
            "
          ></AppSubmenu>
        </transition>
      </li>
    </template>
  </ul>
</template>
<script>
export default {
  name: "AppSubmenu",
  props: {
    items: Array,
    root: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      activeIndex: null
    };
  },
  methods: {
    onMenuItemClick(event, item, index) {
      if (item.disabled) {
        event.preventDefault();
        return;
      }

      // execute command
      if (item.command) {
        item.command({ originalEvent: event, item });
        event.preventDefault();
      }

      this.activeIndex = index === this.activeIndex ? null : index;

      this.$emit("menuitem-click", {
        originalEvent: event,
        item
      });
    }
  },
  components: {
    AppSubmenu: this
  }
};
</script>

<style scoped></style>
